{
    "swagger": "2.0",
    "info": {
        "title": "Cars",
        "description": "Cars Resource of the University API Tutorial",
        "version": "v1"
    },
    "host": "edge-wso2.byu.edu:8243",
    "schemes": [
        "https"
    ],
    "basePath": "/byuapi/tutorial3-cars",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Cars",
                "description": "Returns a collection of Cars",
                "operationId": "getCars",
                "parameters": [
                    {
                        "name": "plate_state",
                        "in": "query",
                        "description": "License Plate State",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "plate_number",
                        "in": "query",
                        "description": "License Plate Number",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "vehicle_type",
                        "in": "query",
                        "description": "Type of Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "vehicle_year",
                        "in": "query",
                        "description": "Model Year of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "make",
                        "in": "query",
                        "description": "Make of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "Model of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "color",
                        "in": "query",
                        "description": "Color of the Vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "owner_id",
                        "in": "query",
                        "description": "The ID of the owner of the vehicle",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page_start",
                        "in": "query",
                        "description": "Specifies how far to skip into a large set",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 1
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Specifies how many items to return from a large set",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 50
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Collection Retrieved",
                        "schema": {
                            "$ref": "#/definitions/carsWrapper"
                        },
                        "examples": {
                            "application/json": "{ \"cars\": {\"links\": [{ \"rel\": \"self\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars\", \"method\": \"GET\"}, { \"rel\": \"tutorial3-cars.create\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars\", \"method\": \"POST\"} ], \"metadata\": {\"collection_size\": 3, \"page_start\": 1, \"page_end\": 3, \"page_size\": 50, \"default_page_size\": 50, \"max_page_size\": 1000 }, \"values\": [{ \"links\": [{ \"rel\": \"self\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"GET\"}, { \"rel\": \"tutorial3-cars.modify\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.sell\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.delete\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"DELETE\"}, { \"rel\": \"tutorial3-owners.info\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-owners/783783783\", \"method\": \"GET\"} ], \"basic\": {\"vin\": {\"value\": \"1FTBE14A4NP05962\", \"api_type\": \"key\"}, \"plate_state\": {\"value\": \"UT\", \"api_type\": \"modifiable\", \"description\": \"Utah\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/plate-state\"}, \"plate_number\": {\"value\": \"Q580RT\", \"api_type\": \"modifiable\"}, \"vehicle_type\": {\"value\": \"Truck/SUV\", \"api_type\": \"derived\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/vehicle-type\"}, \"vehicle_year\": {\"value\": \"2013\", \"api_type\": \"modifiable\"}, \"make\": {\"value\": \"Toyota\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/make\"}, \"model\": {\"value\": \"RAV4\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/model/Toyota\"}, \"color\": {\"value\": \"Dark Green\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/color\"}, \"owner_id\": {\"value\": \"783783783\", \"api_type\": \"modifiable\"}, \"owner_name\": {\"value\": \"Daisy Duck\", \"api_type\": \"related\", \"related_resource\": \"tutorial3-owners\"}, \"created_by_id\": {\"value\": \"586586586\", \"api_type\": \"system\", \"description\": \"Daffy Duck\"}, \"created_date_time\": {\"value\": \"2014-05-11T13:45:53.09Z\", \"api_type\": \"system\"}, \"updated_by_id\": {\"value\": \"783783783\", \"api_type\": \"system\", \"description\": \"Daisy Duck\"}, \"updated_date_time\": {\"value\": \"2014-09-15T08:12:44.03Z\", \"api_type\": \"system\"} } }, { \"links\": [{ \"rel\": \"self\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1DTGR14A6NP38861\", \"method\": \"GET\"}, { \"rel\": \"tutorial3-cars.modify\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1DTGR14A6NP38861\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.sell\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1DTGR14A6NP38861\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.delete\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1DTGR14A6NP38861\", \"method\": \"DELETE\"}, { \"rel\": \"tutorial3-owners.info\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-owners/586586586\", \"method\": \"GET\"} ], \"basic\": {\"vin\": {\"value\": \"1DTGR14A6NP38861\", \"api_type\": \"key\"}, \"plate_state\": {\"value\": \"UT\", \"api_type\": \"modifiable\", \"description\": \"Utah\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/plate-state\"}, \"plate_number\": {\"value\": \"C49D3T\", \"api_type\": \"modifiable\"}, \"vehicle_type\": {\"value\": \"Truck/SUV\", \"api_type\": \"derived\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/vehicle-type\"}, \"vehicle_year\": {\"value\": \"1997\", \"api_type\": \"modifiable\"}, \"make\": {\"value\": \"Ford\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/make\"}, \"model\": {\"value\": \"Ranger\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/model/Toyota\"}, \"color\": {\"value\": \"Blue\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/color\"}, \"owner_id\": {\"value\": \"586586586\", \"api_type\": \"modifiable\"}, \"owner_name\": {\"value\": \"Daffy Duck\", \"api_type\": \"related\", \"related_resource\": \"tutorial3-owners\"}, \"created_by_id\": {\"value\": \"586586586\", \"api_type\": \"system\", \"description\": \"Daffy Duck\"}, \"created_date_time\": {\"value\": \"2014-05-11T13:45:53.09Z\", \"api_type\": \"system\"}, \"updated_by_id\": {\"value\": \"783783783\", \"api_type\": \"system\", \"description\": \"Daisy Duck\"}, \"updated_date_time\": {\"value\": \"2014-09-15T08:12:44.03Z\", \"api_type\": \"system\"} } }, { \"links\": [{ \"rel\": \"self\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1CRTW25A3NX78232\", \"method\": \"GET\"}, { \"rel\": \"tutorial3-cars.modify\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1CRTW25A3NX78232\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.sell\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1CRTW25A3NX78232\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.delete\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1CRTW25A3NX78232\", \"method\": \"DELETE\"}, { \"rel\": \"tutorial3-owners.info\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-owners/586586586\", \"method\": \"GET\"} ], \"basic\": {\"vin\": {\"value\": \"1CRTW25A3NX78232\", \"api_type\": \"key\"}, \"plate_state\": {\"value\": \"UT\", \"api_type\": \"modifiable\", \"description\": \"Utah\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/plate-state\"}, \"plate_number\": {\"value\": \"L43S3T\", \"api_type\": \"modifiable\"}, \"vehicle_type\": {\"value\": \"Truck/SUV\", \"api_type\": \"derived\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/vehicle-type\"}, \"vehicle_year\": {\"value\": \"2003\", \"api_type\": \"modifiable\"}, \"make\": {\"value\": \"Chevrolet\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/make\"}, \"model\": {\"value\": \"Sierra\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/model/Toyota\"}, \"color\": {\"value\": \"Tan\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/color\"}, \"owner_id\": {\"value\": \"586586586\", \"api_type\": \"modifiable\"}, \"owner_name\": {\"value\": \"Daffy Duck\", \"api_type\": \"related\", \"related_resource\": \"tutorial3-owners\"}, \"created_by_id\": {\"value\": \"586586586\", \"api_type\": \"system\", \"description\": \"Daffy Duck\"}, \"created_date_time\": {\"value\": \"2014-05-11T13:45:53.09Z\", \"api_type\": \"system\"}, \"updated_by_id\": {\"value\": \"783783783\", \"api_type\": \"system\", \"description\": \"Daisy Duck\"}, \"updated_date_time\": {\"value\": \"2014-09-15T08:12:44.03Z\", \"api_type\": \"system\"} } } ] } }"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "404": {
                        "description": "No Cars satisfy the query parameters - the collection is empty",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Query parameters conflict or are malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "post": {
                "summary": "Cars",
                "description": "Create a new Car",
                "operationId": "createCar",
                "parameters": [
                    {
                        "name": "car",
                        "in": "body",
                        "description": "The Car to be added",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/car"
                        }
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "201": {
                        "description": "Car Added",
                        "schema": {
                            "$ref": "#/definitions/car"
                        },
                        "examples": {
                            "application/json": "{ \"car\": { \"links\": [{ \"rel\": \"self\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"GET\"}, { \"rel\": \"tutorial3-cars.modify\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.sell\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.delete\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"DELETE\"}, { \"rel\": \"tutorial3-owners.info\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-owners/783783783\", \"method\": \"GET\"} ], \"basic\": {\"vin\": {\"value\": \"1FTBE14A4NP05962\", \"api_type\": \"key\"}, \"plate_state\": {\"value\": \"UT\", \"api_type\": \"modifiable\", \"description\": \"Utah\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/plate-state\"}, \"plate_number\": {\"value\": \"Q580RT\", \"api_type\": \"modifiable\"}, \"vehicle_type\": {\"value\": \"Truck/SUV\", \"api_type\": \"derived\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/vehicle-type\"}, \"vehicle_year\": {\"value\": \"2013\", \"api_type\": \"modifiable\"}, \"make\": {\"value\": \"Toyota\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/make\"}, \"model\": {\"value\": \"RAV4\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/model/Toyota\"}, \"color\": {\"value\": \"Dark Green\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/color\"}, \"owner_id\": {\"value\": \"783783783\", \"api_type\": \"modifiable\"}, \"owner_name\": {\"value\": \"Daisy Duck\", \"api_type\": \"related\", \"related_resource\": \"tutorial3-owners\"}, \"created_by_id\": {\"value\": \"586586586\", \"api_type\": \"system\", \"description\": \"Daffy Duck\"}, \"created_date_time\": {\"value\": \"2014-05-11T13:45:53.09Z\", \"api_type\": \"system\"}, \"updated_by_id\": {\"value\": \"783783783\", \"api_type\": \"system\", \"description\": \"Daisy Duck\"}, \"updated_date_time\": {\"value\": \"2014-09-15T08:12:44.03Z\", \"api_type\": \"system\"} } } }"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Request Body conflicts or is malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            }
        },
        "/{vin}": {
            "get": {
                "summary": "Cars",
                "description": "Returns a specific Car",
                "operationId": "getCar",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Item Retrieved",
                        "schema": {
                            "$ref": "#/definitions/car"
                        },
                        "examples": {
                            "application/json": "{ \"car\": { \"links\": [{ \"rel\": \"self\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"GET\"}, { \"rel\": \"tutorial3-cars.modify\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.sell\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.delete\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"DELETE\"}, { \"rel\": \"tutorial3-owners.info\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-owners/783783783\", \"method\": \"GET\"} ], \"basic\": {\"vin\": {\"value\": \"1FTBE14A4NP05962\", \"api_type\": \"key\"}, \"plate_state\": {\"value\": \"UT\", \"api_type\": \"modifiable\", \"description\": \"Utah\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/plate-state\"}, \"plate_number\": {\"value\": \"Q580RT\", \"api_type\": \"modifiable\"}, \"vehicle_type\": {\"value\": \"Truck/SUV\", \"api_type\": \"derived\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/vehicle-type\"}, \"vehicle_year\": {\"value\": \"2013\", \"api_type\": \"modifiable\"}, \"make\": {\"value\": \"Toyota\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/make\"}, \"model\": {\"value\": \"RAV4\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/model/Toyota\"}, \"color\": {\"value\": \"Dark Green\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/color\"}, \"owner_id\": {\"value\": \"783783783\", \"api_type\": \"modifiable\"}, \"owner_name\": {\"value\": \"Daisy Duck\", \"api_type\": \"related\", \"related_resource\": \"tutorial3-owners\"}, \"created_by_id\": {\"value\": \"586586586\", \"api_type\": \"system\", \"description\": \"Daffy Duck\"}, \"created_date_time\": {\"value\": \"2014-05-11T13:45:53.09Z\", \"api_type\": \"system\"}, \"updated_by_id\": {\"value\": \"783783783\", \"api_type\": \"system\", \"description\": \"Daisy Duck\"}, \"updated_date_time\": {\"value\": \"2014-09-15T08:12:44.03Z\", \"api_type\": \"system\"} } } }"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "404": {
                        "description": "No Cars satisfy the request - the collection is empty",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Cars",
                "description": "Delete a specific Car",
                "operationId": "deleteCar",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "204": {
                        "description": "Car successfully removed"
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            },
            "put": {
                "summary": "Cars",
                "description": "Modify a specific Car",
                "operationId": "modifyCar",
                "parameters": [
                    {
                        "name": "vin",
                        "in": "path",
                        "description": "Vehicle Identification Number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "car",
                        "in": "body",
                        "description": "The Car to be modified",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/car"
                        }
                    }
                ],
                "tags": [
                    "Cars"
                ],
                "responses": {
                    "200": {
                        "description": "Car Modified",
                        "schema": {
                            "$ref": "#/definitions/car"
                        },
                        "examples": {
                            "application/json": "{ \"car\": { \"links\": [{ \"rel\": \"self\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"GET\"}, { \"rel\": \"tutorial3-cars.modify\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.sell\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"PUT\"}, { \"rel\": \"tutorial3-cars.delete\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-cars/1FTBE14A4NP05962\", \"method\": \"DELETE\"}, { \"rel\": \"tutorial3-owners.info\", \"href\": \"https://edge-wso2.byu.edu:8243/byuapi/tutorial3-owners/783783783\", \"method\": \"GET\"} ], \"basic\": {\"vin\": {\"value\": \"1FTBE14A4NP05962\", \"api_type\": \"key\"}, \"plate_state\": {\"value\": \"UT\", \"api_type\": \"modifiable\", \"description\": \"Utah\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/plate-state\"}, \"plate_number\": {\"value\": \"Q580RT\", \"api_type\": \"modifiable\"}, \"vehicle_type\": {\"value\": \"Truck/SUV\", \"api_type\": \"derived\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/vehicle-type\"}, \"vehicle_year\": {\"value\": \"2013\", \"api_type\": \"modifiable\"}, \"make\": {\"value\": \"Toyota\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/make\"}, \"model\": {\"value\": \"RAV4\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/model/Toyota\"}, \"color\": {\"value\": \"Dark Green\", \"api_type\": \"modifiable\", \"domain\": \"https://edge-wso2.byu.edu:8243/byuapi/meta/cars/color\"}, \"owner_id\": {\"value\": \"783783783\", \"api_type\": \"modifiable\"}, \"owner_name\": {\"value\": \"Daisy Duck\", \"api_type\": \"related\", \"related_resource\": \"tutorial3-owners\"}, \"created_by_id\": {\"value\": \"586586586\", \"api_type\": \"system\", \"description\": \"Daffy Duck\"}, \"created_date_time\": {\"value\": \"2014-05-11T13:45:53.09Z\", \"api_type\": \"system\"}, \"updated_by_id\": {\"value\": \"783783783\", \"api_type\": \"system\", \"description\": \"Daisy Duck\"}, \"updated_date_time\": {\"value\": \"2014-09-15T08:12:44.03Z\", \"api_type\": \"system\"} } } }"
                        }
                    },
                    "400": {
                        "description": "Invalid Request - unable to interpret request",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "401": {
                        "description": "Authentication required to access data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "403": {
                        "description": "Access denied to protected data",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "409": {
                        "description": "Request Body conflicts or is malformed",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "carsWrapper": {
            "type": "object",
            "properties": {
                "cars": {
                    "$ref": "#/definitions/cars"
                }
            }
        },
        "cars": {
            "description": "A collection of Cars",
            "type": "object",
            "required": [
                "values"
            ],
            "properties": {
                "links": {
                    "description": "Hypermedia Links that impact the entire Cars collection",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/links"
                    }
                },
                "metadata": {
                    "$ref": "#/definitions/top_level_metadata"
                },
                "values": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/car"
                    }
                }
            }
        },
        "car": {
            "description": "Car Item",
            "type": "object",
            "required": [
                "basic"
            ],
            "properties": {
                "links": {
                    "description": "Hypermedia Links that impact an item in the Cars collection",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/links"
                    }
                },
                "basic": {
                    "$ref": "#/definitions/basic"
                }
            }
        },
        "basic": {
            "description": "Car Basic Item",
            "type": "object",
            "required": [
                "vin",
                "plate_state",
                "plate_number",
                "vehicle_type",
                "vehicle_year",
                "make",
                "model",
                "color",
                "owner_id",
                "owner_name",
                "created_by_id",
                "created_date_time",
                "updated_by_id",
                "updated_date_time"
            ],
            "properties": {
                "vin": {
                    "$ref": "#/definitions/vin"
                },
                "plate_state": {
                    "$ref": "#/definitions/plate_state"
                },
                "plate_number": {
                    "$ref": "#/definitions/plate_number"
                },
                "vehicle_type": {
                    "$ref": "#/definitions/vehicle_type"
                },
                "vehicle_year": {
                    "$ref": "#/definitions/vehicle_year"
                },
                "make": {
                    "$ref": "#/definitions/make"
                },
                "model": {
                    "$ref": "#/definitions/model"
                },
                "color": {
                    "$ref": "#/definitions/color"
                },
                "owner_id": {
                    "$ref": "#/definitions/owner_id"
                },
                "owner_name": {
                    "$ref": "#/definitions/owner_name"
                },
                "created_by_id": {
                    "$ref": "#/definitions/created_by_id"
                },
                "created_date_time": {
                    "$ref": "#/definitions/created_date_time"
                },
                "updated_by_id": {
                    "$ref": "#/definitions/updated_by_id"
                },
                "updated_date_time": {
                    "$ref": "#/definitions/updated_date_time"
                }
            }
        },
        "links": {
            "description": "Hypermedia links format",
            "type": "object",
            "required": [
                "rel",
                "href",
                "method"
            ],
            "properties": {
                "rel": {
                    "type": "string"
                },
                "href": {
                    "type": "string",
                    "format": "uri"
                },
                "method": {
                    "type": "string",
                    "enum": [
                        "DELETE",
                        "GET",
                        "OPTIONS",
                        "POST",
                        "PUT"
                    ]
                }
            }
        },
        "top_level_metadata": {
            "type": "object",
            "required": [
                "collection_size",
                "page_start",
                "page_end",
                "page_size",
                "default_page_size",
                "maximum_page_size"
            ],
            "properties": {
                "collection_size": {
                    "type": "integer",
                    "minimum": 0
                },
                "page_start": {
                    "type": "integer",
                    "minimum": 0
                },
                "page_end": {
                    "type": "integer",
                    "minimum": 0
                },
                "page_size": {
                    "type": "integer",
                    "minimum": 0
                },
                "default_page_size": {
                    "type": "integer",
                    "minimum": 1
                },
                "maximum_page_size": {
                    "type": "integer",
                    "minimum": 0
                }
            }
        },
        "error": {
            "description": "Error Information",
            "type": "object",
            "properties": {
                "return_code": {
                    "type": "integer",
                    "format": "int32"
                },
                "explanation": {
                    "type": "string"
                },
                "error_data": {
                    "type": "string"
                }
            }
        },
        "methods": {
            "description": "Supported HTTP Methods",
            "type": "array",
            "items": {
                "type": "string"
            }
        },
        "vin": {
            "description": "Vehicle Identification Number",
            "type": "object",
            "required": [
                "value",
                "api_type"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "maxLength": 16
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "key",
                        "read-only",
                        "modifiable"
                    ]
                }
            }
        },
        "plate_state": {
            "description": "License Plate State",
            "type": "object",
            "required": [
                "value",
                "api_type",
                "description",
                "domain"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "maxLength": 2
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable"
                    ]
                },
                "description": {
                    "type": "string"
                },
                "domain": {
                    "type": "string",
                    "format": "uri"
                }
            }
        },
        "plate_number": {
            "description": "License Plate Number",
            "type": "object",
            "required": [
                "value",
                "api_type"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable"
                    ]
                }
            }
        },
        "vehicle_type": {
            "description": "Type of Vehicle",
            "type": "object",
            "required": [
                "value",
                "api_type",
                "domain"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "enum": [
                        "Car/Sedan/Coupe",
                        "Delivery/Service Truck",
                        "Moped/Scooter",
                        "Motorcycle",
                        "Other",
                        "Truck/SUV"
                    ]
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable",
                        "derived"
                    ]
                },
                "domain": {
                    "type": "string",
                    "format": "uri"
                }
            }
        },
        "vehicle_year": {
            "description": "Model Year of the Vehicle",
            "type": "object",
            "required": [
                "value",
                "api_type"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "maxLength": 4
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable"
                    ]
                }
            }
        },
        "make": {
            "description": "Make of the Vehicle",
            "type": "object",
            "required": [
                "value",
                "api_type",
                "domain"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable"
                    ]
                },
                "domain": {
                    "type": "string",
                    "format": "uri"
                }
            }
        },
        "model": {
            "description": "Model of the Vehicle",
            "type": "object",
            "required": [
                "value",
                "api_type",
                "domain"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable"
                    ]
                },
                "domain": {
                    "type": "string",
                    "format": "uri"
                }
            }
        },
        "color": {
            "description": "Color of the Vehicle",
            "type": "object",
            "required": [
                "value",
                "api_type",
                "domain"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable"
                    ]
                },
                "domain": {
                    "type": "string",
                    "format": "uri"
                }
            }
        },
        "owner_id": {
            "description": "The ID of the owner of the vehicle",
            "type": "object",
            "required": [
                "value",
                "api_type"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "maxLength": 9
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable"
                    ]
                }
            }
        },
        "owner_name": {
            "description": "The name of the owner of the vehicle",
            "type": "object",
            "required": [
                "value",
                "api_type"
            ],
            "properties": {
                "value": {
                    "type": "string"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "read-only",
                        "modifiable",
                        "related"
                    ]
                },
                "related-resource": {
                    "type": "string"
                }
            }
        },
        "created_by_id": {
            "description": "The ID of the person that created the vehicle entry",
            "type": "object",
            "required": [
                "value",
                "api_type",
                "description"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "maxLength": 9
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ]
                },
                "description": {
                    "type": "string"
                }
            }
        },
        "created_date_time": {
            "description": "When the vehicle entry was created",
            "type": "object",
            "required": [
                "value",
                "api_type"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "format": "date-time"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ]
                }
            }
        },
        "updated_by_id": {
            "description": "The ID of the person that last updated the vehicle entry",
            "type": "object",
            "required": [
                "value",
                "api_type",
                "description"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "maxLength": 9
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ]
                },
                "description": {
                    "type": "string"
                }
            }
        },
        "updated_date_time": {
            "description": "When the vehicle entry was last updated",
            "type": "object",
            "required": [
                "value",
                "api_type"
            ],
            "properties": {
                "value": {
                    "type": "string",
                    "format": "date-time"
                },
                "api_type": {
                    "type": "string",
                    "enum": [
                        "system"
                    ]
                }
            }
        }
    }
}