#import <Foundation/Foundation.h>
{{#imports}}#import "{{import}}.h"
{{/imports}}
{{newline}}

{{#operations}}
@interface {{classname}}: NSObject


{{#operation}}
/**

 {{#summary}}{{{summary}}}{{/summary}}
 {{#notes}}{{{notes}}}{{/notes}}

 {{#allParams}}@param {{paramName}} {{description}}
 {{/allParams}}
 */
-(void) {{nickname}}With{{#allParams}}{{paramName}}:({{{dataType}}}) {{paramName}}
        {{/allParams}}completionBlock: (void (^)({{#returnBaseType}}{{returnType}} output, {{/returnBaseType}}NSError* error))completionBlock;


{{/operation}}
{{/operations}}
@end
