        if (error) {
            [[NSOperationQueue mainQueue] addOperationWithBlock:^{
                completionBlock({{#returnBaseType}}nil, {{/returnBaseType}}error);
            }];
            return;
        }

        {{#isMapContainer}}
        NSDictionary *result = [NSJSONSerialization JSONObjectWithData:data options:0 error:nil];
        completionBlock(result, nil);
        {{/isMapContainer}}
        {{^isMapContainer}}
        {{#returnBaseType}}
        NSArray *result = [NSJSONSerialization JSONObjectWithData:data options:0 error:nil];
        NSMutableArray * objs = [[NSMutableArray alloc] initWithCapacity:[result count]];
        
        for (NSDictionary* dict in (NSArray*)result) {
            {{returnBaseType}}* d = [[{{returnBaseType}} alloc]initWith{{#returnTypeIsPrimitive}}String{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}Values{{/returnTypeIsPrimitive}}: dict];
            [objs addObject:d];
        }

        [[NSOperationQueue mainQueue] addOperationWithBlock:^{
            completionBlock(objs, nil);
        }];
        {{/returnBaseType}}{{/isMapContainer}}