        // {{returnContainer}} container response type

        if (error) {
            completionBlock({{#returnBaseType}}nil, {{/returnBaseType}}error);
            return;
        }

        {{#isMapContainer}}
        NSDictionary *result = [NSJSONSerialization JSONObjectWithData:data options:0 error:nil];
        completionBlock(result, nil);
        {{/isMapContainer}}
        {{^isMapContainer}}
        {{#returnBaseType}}
        NSArray *result = [NSJSONSerialization JSONObjectWithData:data options:0 error:nil];
        NSMutableArray * objs = [[NSMutableArray alloc] initWithCapacity:[result count]];
        for (NSDictionary* dict in (NSArray*)result) {
            {{#returnTypeIsPrimitive}}
            {{returnBaseType}}* d = [[{{{returnBaseType}}} alloc]initWithString: dict];
            {{/returnTypeIsPrimitive}}
            {{^returnTypeIsPrimitive}}
            {{{returnBaseType}}}* d = [[{{{returnBaseType}}} alloc]initWithValues: dict];
            {{/returnTypeIsPrimitive}}
            [objs addObject:d];
        }
        completionBlock(objs, nil);
        {{/returnBaseType}}
        {{/isMapContainer}}

        [self.requests removeObject:request];
