        if (error) {
            [[NSOperationQueue mainQueue] addOperationWithBlock:^{
                completionBlock({{#returnBaseType}}nil, {{/returnBaseType}}error);
            }];
            return;
        }
        {{#returnBaseType}}
        {{returnBaseType}} *result = nil;
        NSDictionary *dictionary = [NSJSONSerialization JSONObjectWithData:data options:0 error:nil];
        if (dictionary) {
            result = [[{{#instantiationType}}NSClassFromString(@"{{{instantiationType}}}") {{/instantiationType}}{{^instantiationType}}{{{returnBaseType}}} {{/instantiationType}}   alloc]initWithValues: dictionary];
        }
        {{/returnBaseType}}
        [[NSOperationQueue mainQueue] addOperationWithBlock:^{
            completionBlock({{#returnBaseType}}result, {{/returnBaseType}}nil);
        }];
        