        if (error) {
            [[NSOperationQueue mainQueue] addOperationWithBlock:^{
                completionBlock({{#returnBaseType}}nil, {{/returnBaseType}}error);
            }];
            return;
        }
        {{#returnBaseType}}
        {{returnBaseType}} *result = nil;
        if (data) {
            result = [[NSString alloc] initWithData:data encoding:NSASCIIStringEncoding];
        }
        {{/returnBaseType}}
        [[NSOperationQueue mainQueue] addOperationWithBlock:^{
            completionBlock({{#returnBaseType}}result, {{/returnBaseType}}nil);
        }];
        