        if (error) {
            completionBlock({{#returnBaseType}}nil, {{/returnBaseType}}error);
            return;
        }
        {{#returnBaseType}}
        {{returnBaseType}} *result = nil;
        if (data) {
            result = [[NSString alloc] initWithData:data encoding:NSASCIIStringEncoding];
        }
        {{/returnBaseType}}
        completionBlock({{#returnBaseType}}result, {{/returnBaseType}}nil);
        