{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
exports.{{nickname}} = function (req) {
	//The following variables are available to you:
	{{#queryParams}}//req.query.{{paramName}}
	{{/queryParams}}{{#pathParams}}//req.params.{{paramName}}
	{{/pathParams}}{{#headerParams}}//req.headers.{{paramName}}
    {{/headerParams}}{{#bodyParams}}//req.body.{{paramName}}
    {{/bodyParams}}
    {{#examples}}
    return {{{example}}}
    {{/examples}}
    {{^examples}}
	return {message: "how about implementing {{nickname}} as a {{httpMethod}} method?"}
	{{/examples}}
}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}