{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
exports.{{nickname}} = function (req) {
	return {message: "how about implementing {{nickname}} as a {{httpMethod}} method?"}
}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}